
{% extends 'base.html' %}

{% block content %}
<h1>news detail </h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">writer</th>
        <th scope="col">title</th>
        <th scope="col">descript</th>
        <th scope="col">country</th>
        <th scope="col">created at</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{object.id}}</th>
        <td>{{object.writer}}</td>
        <td>{{object.title}}</td>
        <td>{{object.descript}}</td>
        <td>{{object.country}}</td>
        <td>{{object.created_at}}</td>
        <td><a href="{% url 'news_delete' object.id %}" class="btn btn-danger" >delete</a>
        <a href="{% url 'news_update' object.id %}" class="btn btn-warning">edit</a> </td>
    
      </tr>
             </tbody>
  </table>
  {% endblock content %}